{% extends 'base.html' %}

{% block content %}
<br /><br />
<div class="container">
  <h2 class="mt-5">{{ action }} Libro</h2>

  <form method="post" class="mt-4">
    {% csrf_token %}
    
    <!-- Aplicar estilos de Bootstrap a los campos del formulario -->
    {{ form.title.label_tag }} {{ form.title }}
    {{ form.author.label_tag }} {{ form.author }}
    {{ form.publication_year.label_tag }} {{ form.publication_year }}
    {{ form.stock.label_tag }} {{ form.stock }}

    <button type="submit" class="btn btn-primary mt-3">{{ action }} Libro</button>
  </form>

  <a href="{% url 'listarLibros' %}" class="btn btn-secondary mt-3">Volver al listado de libros</a>
</div>
<br /><br />
{% endblock %}
